{% extends 'base2.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block monTitre %}Page d'acceuil{% endblock %}

{% block body %}
    <a href="{{ path("personnages") }}">lien vers les personnages</a>
{% endblock %}
